<% provide(:title, 'About') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container who-we-are-banner">
    <div class="banner-text">Who <br/>We Are</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">

    <div class="row">
      <div class="small-12 large-6 medium-12 columns">
        <dl class="tabs about" data-tab data-options="deep_linking:true;">
          <dd class="active" id="about_us"><a href="#about_us">About</a></dd>
          <dd id="trainer_bio"><a href="#trainer_bio">Trainer Bio</a></dd>
          <dd id="gallery"><a href="#gallery" id="last-tab">Gallery</a></dd>
        </dl>
      </div>
    </div>
    <div class="tabs-content">
      <div class="content active" id="about_us">
        <div class="row">
          <div class="small-12 large-12 medium-12 columns">
            <section class="text-content" id="about-us">
              <h3>About Us</h3>
              <p>Gymsight Training isn't a location as much as it is a training philosophy that uses varied, unique and directed methods applied and executed in a way necessary for a given individual's goals, training threshold and attitude. The purpose of our training is to provide efficient, durable, and sustainable results. The training here is hard, unique, and creative, accomplished in a way that instills both confidence and motivation in our clients. In each session, we sweat, we succeed, we fail, we laugh, we expose and then overcome limitations. The most important thing is that we cultivate perseverance, and improvement. We believe that the mind, body, nutrition, and lifestyle factors are intrinsically linked, attributes we focus on molding everyday as we see these as necessary focal points for progression in performance and health. </p>
              <p>
              Here we train in preparation for something, whether it be a sport, work, or life driven objective. The reason for this is that it's easier to train a mind anchored on something tangible than nothing at all. We also create an atmosphere complete with like-minded individuals who enjoy challenging themselves as well as being challenged by others. And while we do set standards so that a certain intensity is maintained, quality in execution is preferred over quantity every time, for every exercise, in every session, and applies to both client and trainer alike. A training session here is a planned event devoid of mirrors, TVs, and similar things that only serve as distractions. What you will find is training equipment and space sufficient for the task, music, inspiration, and milestones.
              </p>
              <p>Gymsight Training is not open to the general public, and walk-ins are strongly discouraged. All individual and group training is conducted under the guidance of a Gymsight trainer, and eligibility is determined through an initial conversation and assessment. If you would like to learn more about training with Gymsight, you are encouraged to explore the website, ask questions, or begin a conversation with a Gymsight Trainer. Click here to ask a question, or here to request a consultation.</p>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-12 medium-12 columns">
            <section class="gym-photos">
              <figure data-attr-about="1">
                <%= image_tag 'http://d1glu0vbbg0go6.cloudfront.net/Who_We_Are/wwa_page_pic_1.jpg', alt:'inside the gym' %>
                <figcaption>Inside the Gymsight Space<a class='prev-img'></a><a class='next-img'></a></figcaption>
              </figure>
              <figure data-attr-about="2" style="display:none;">
                <%= image_tag 'http://d1glu0vbbg0go6.cloudfront.net/Who_We_Are/wwa_page_pic_2.jpg', alt:'inside the gym' %>
                <figcaption>A Gymsight trainer reviewing an athlete’s training regemin.<a class='prev-img'></a><a class='next-img'></a></figcaption>
              </figure>
              <figure data-attr-about="3" style="display:none;">
                <%= image_tag 'http://d1glu0vbbg0go6.cloudfront.net/Who_We_Are/wwa_page_pic_3.jpg', alt:'inside the gym' %>
                <figcaption>A Gymsight trainer walking the walk.<a class='prev-img'></a><a class='next-img'></a></figcaption>
              </figure>

            </section>
          </div>
        </div>
      </div>
          <div class="content" id="trainer_bio">
            <div class="row">
              <div class="small-12 large-8 medium-8 columns">
                <section class="text-content" id="gymowner-bio">
                  <h3 class="gymowner-header">Dewayne Hornbeak</h3>
                  <h3 class="header-description">Founder & Training Director</h3>
                  <p>Prior to starting Gymsight Training, Dewayne served honorably in the U.S. Marine Corps as an infantry and special operations team member. After leaving the military in 2003, he began a long career in the international private security field. As a tactical athlete, his long career took him from every part and climate on earth and kept him constantly immersed in physical training as he never knew what area or situation he'd end up in. During this time he also learned that, not only does the gym prepare an individual for a given event or activity, but also closely mirrors various aspects of life (hardship, integrity, courage, adaptation, failure and perseverance).</p>
                  <p>Drawing on cumulative experiences as an athlete, Marine, trainer, and realist, he set out to create a training philosophy and location where dedicated athletes, as well as those willing to work hard to achieve an objective, could train, grow, expose doubts and overcome them, and progress. These are standards that he has continued to maintain and are cornerstone to Gymsight Training.</p>
                  <h4>My take on training:</h4>
                  <p>
                     I understand that there are many different paths for each individual to reach that next level. One thing I've learned in 14+ years as an athlete, coach, team-builder, and educator, is the significance of helping others progress and with that I constantly strive to offer the greatest training to each member I take on. I accomplish this through teaching, succeeding and sometimes falling short, experimentation, listening, personal experience, being restlessly ambitious, leading by example, and by constantly expanding my knowledge base and scope of expertise.
                  </p>
                  <h4>Current goals for my own training:</h4>
                  <p>
                     Currently training for the Bald Eagle Mega Transect taking place in October, and completing another Goruck Challenge event. Rock climbing in the  Northern Cascades. Furthering my own education and continuing to progress in my own strength and conditioning.
                  </p>
                  <h4>Hobbies outside of the gym:</h4>
                  <p>
                     Mountain running, hiking, adventure and travel enthusiast, bad sci-fi movie connoisseur, good beer and vodka, range time, music, reading and researching anything climbing, survival, fitness, and psychology related.
                  </p>
                 </section>
               </div>
               <div class="small-12 large-4 medium-4 columns">
                 <figure class="center-image" id="headshot-container">
                    <%= image_tag 'http://d1glu0vbbg0go6.cloudfront.net/Who_We_Are/dewayne.jpg', alt:'dewayne photo', id: 'gymowner-headshot' %>
                </figure>
                <section class="program-details">
                  <h1>Details</h1>
                  <h2>Age:</h2>
                  <span>32</span>
                  <h2>Hometown:</h2>
                  <span>Austin, Texas</span>
                </section>
                <section class="program-details" id="certifications">
                  <h1>Certifications</h1>
                  <span>NSCA-CPT</span>
                  <span>NASM-PES</span>
                  <span>ISSA Sports Nutrition</span>
                  <span>First Aid/CPR, AED</span>
                </section>
              </div>
          </div>
        </div>
        <div class="content" id="gallery">
          <%= render 'layouts/gallery' %>
        </div>
      </div>
    </div>
  </div>
</div>
