<div class="offerings-nav">
  <div class="row">
    <div class="small-12 large-10 medium-11 small-centered columns">
      <a href="http://gymsight.herokuapp.com/offerings" class="offering-button <%= @link_class %>"><div class="button-triangle"></div>Back To Offerings</a><nav>
        <div class="row">
          <div class="small-12 medium-4 large-4 columns">
            <ul class="nav-group">
              <li class="nav-heading <%= 'active' if current_page?(offerings_path) %>">Programs</li>
              <li><a href="http://gymsight.herokuapp.com/offerings/general-athletic-program" class="<%= 'offerings-active' if current_page?(gap_path) %> offerings-link">General Athletic Program</a></li>
              <li><a href="http://gymsight.herokuapp.com/offerings/big-mountain-program" class="<%= 'offerings-active' if current_page?(bmp_path) %> offerings-link">Big Mountain Program</a></li>
              <li><a href="http://gymsight.herokuapp.com/offerings/rock-and-ice-program" class="<%= 'offerings-active' if current_page?(rip_path) %> offerings-link">Rock & Ice Program</a></li>
            </ul>
          </div>
          <div class="small-12 medium-4 large-4 columns">
            <ul class="nav-group">
              <li class="nav-heading <%= 'active' if current_page?(offerings_path) %>">Additional Options</li>
              <li><a href="http://gymsight.herokuapp.com/offerings/personal-training" class="<%= 'offerings-active' if current_page?(pt_path) %> offerings-link">Personal Training</a></li>
              <li><a href="http://gymsight.herokuapp.com/offerings/semi-private-training" class="<%= 'offerings-active' if current_page?(spt_path) %> offerings-link">Semi-private Training</a></li>
            </ul>
          </div>
          <div class="small-12 medium-4 large-4 columns">
            <ul class="nav-group" id="last-nav-group">
              <li class="nav-heading <%= 'active' if current_page?(offerings_path) %>">How It Works</li>
              <li><a href="http://gymsight.herokuapp.com/frequently-asked-questions">Frequently Asked Questions</a></li>
              <li><a href="http://gymsight.herokuapp.com/offerings/essentials-pipeline" class="<%= 'offerings-active' if current_page?(essentials_path) %> offerings-link">Essentials Pipeline</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
