<% provide(:title, 'Contact') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container get-started-banner">
    <div class="banner-text">Get<br/>Started</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-9 medium-9 columns">
    <dl class="tabs contact" data-tab data-options="deep_linking:true;scroll_to_content:false;">
      <dd class="active" id="consultation_request"><a href="#consultation_request">Request a Consultation</a></dd>
      <dd id="question"><a href="#question">Ask a Question</a></dd>
    </dl>
    <div class="tabs-content" id="contact-tabs-content">
      <div class="content active" id="consultation_request">
          <%= form_for @consultation, url:consultation_path do |form| %>
            <% flash.each do |key, value| %>
              <div class="row">
                <div class="small-12 large-12 medium-12 large-centered columns">
                  <div data-alert class="alert-box">
                      <%= value %>
                      <a href="#" class="close">&times;</a>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="large-12 columns">
                <h4 class="form-headline">Tell us about yourself</h4>
              </div>
            </div>
            <div class="row">
              <div class="large-5 medium-5 columns">
                <%= form.text_field :name, placeholder:"Name" %>
              </div>
              <div class="large-2 medium-2 small-3 columns">
                <%= form.text_field :age, maxlength: 2, placeholder:"Age" %>
              </div>
              <div class="large-5 medium-5 columns">
                <%= form.text_field :occupation, placeholder:"Occupation" %>
              </div>
            </div>
            <div class="row">
              <div class="large-5 medium-5 columns">
                <%= form.text_field :email_address, placeholder:"Email" %>
              </div>
              <div class="large-4 medium-4 columns">
                <%= form.text_field :phone_number, placeholder:"Phone" %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <h4 class="form-headline">Which program are you interested in? <a class="form-link" href="http://gymsight.com/offerings"> programs</a></h4>
              </div>
            </div>
            <div class="row">
              <div class="large-5 medium-6 columns">
                <%= form.select(:training_program, options_for_select([['General Athletic Program'], ['Big Mountain Program'], ['Run Strong Strength Program'], ['Private Training'], ['Semi-Private Training']])) %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <h4 class="form-headline">Notes</h4>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                  <%= form.text_area :notes, placeholder:"Enter text here" %>
              </div>
            </div>
            <div class="actions">
              <%= form.submit "Submit", class:"contact-button" %>
            </div>
          <% end %>
      </div>
      <div class="content" id="question">
        <%= form_for @question, url: question_path do |form| %>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="form-headline" id="question-reminder">Before asking a question, please check <a href="http://gymsight.com/frequently-asked-questions" class="form-link"> frequently asked questions</a></h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="form-headline">Important contact details</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-5 medium-5 columns">
              <%= form.text_field :name, placeholder:"Name" %>
            </div>
            <div class="large-5 medium-5 columns">
              <%= form.text_field :email_address, placeholder:"Email" %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="form-headline">What type of question do you have?</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-5 medium-6 columns">
              <%= form.select(:training_program, options_for_select([['Programming / Essentials Pipeline'], ['Training Questions / Injuries'], ['Gymsight Billing / Scheduling'], ['Other']])) %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="form-headline">Please type your question below. We'll respond to you as soon as possible.</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
                <%= form.text_area :question, placeholder:"Enter text here" %>
            </div>
          </div>
          <div class="actions">
            <%= form.submit "Submit", class:"contact-button" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="small-12 large-3 medium-3 columns">
    <aside class="contact-container">
      <h3>Location & Contact Info</h3>
      <div class="contact-caption">Gymsight is located off Market Street in Ballard</div>
      <div class="contact-details" id="contact-number">(206) 902-6997</div>
      <div class="contact-details"></div>
      <!-- <a class="contact-button" id="map-button" href="" target="_blank">View Map</a> -->
    </aside>
  </div>
</div>


