<% provide(:title, 'New Image') %>
<%= form_for(@image) do |f| %>
  <div class="row">
    <div class="large-12">
      <% if @image.errors.any? %>
        <div data-alert class="alert-box">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
          <ul>
            <% @image.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns large-centered">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns large-centered">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns large-centered">
      <%= f.label :description %><br>
    <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns large-centered">
      <%= f.label :tag_list, "Media Type & Tags / options: image, workouts, nutrition, competitions, field (Separate with a single space)" %><br>
      <%= f.text_field :tag_list %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns large-centered">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
