<% unless current_admin.nil? %>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <%= link_to 'New Image', new_image_path, class: "contact-button", style: "float:left; margin-bottom: 10px;" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="medium-12 large-12 columns">
    <div class="js-isotope grid effect-1" id="isotope-container"'>
      <% @images.each do |image| %>
        <div class="item <%= image.tag_list %>">
          <a class="fancybox" rel="gymsight-gallery" href="<%= image.image_url.to_s %>">
          </a>
          <div class="newTitle" style="display: none;">
            <%= image.title + "<br><p>" + image.description + "</p>" + "<time class='photo-date' datetime='DD-MM-YYYY'>" %> <%= l image.created_at, format: :number  %> </time>
          </div>
          <%= image_tag image.image_url(:thumb).to_s %>
          <div class="overlay">
            <div class="picture-details">
              <time datetime="DD-MM-YYYY"><%= l image.created_at, format: :number %></time>
              <h2><%= image.title %></h2>
            </div>
          </div>
          <% unless current_admin.nil? %>
          <nav>
            <td><%= link_to 'Show', image %></td> |
            <td><%= link_to 'Edit', edit_image_path(image) %></td> |
            <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </nav>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

