<div class="row">
<div class="large-12 large-centered">
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @image.image_url.to_s %>
</p>
<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>
<p>
  <strong>Tags:</strong>
  <%= @image.tag_list %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
</div>
</div>
