<footer class="interior-footer <%= 'hidden' if current_page?(root_path)%>">
  <div class="row">
    <div class="large-12 medium-12 small-12">
      <div class="large-2 medium-2 hide-for-small-only columns">
        <%= link_to image_tag("http://d1glu0vbbg0go6.cloudfront.net/site_wide/gymsight_logo_footer.png", alt: "Logo", class:"footer-logo"), root_path %>
        <div class="social-container">
          <%= link_to '', 'javascript:void(0)', class: 'facebook social-link' %>
          <%= link_to '', 'javascript:void(0)', class: 'twitter social-link' %>
        </div>
      </div>
      <div class="large-3 medium-3 columns hide-for-small-only">
        <ul>
          <li class="nav-heading about-heading"><%= link_to 'Who We Are', about_path, class:"#{@about_active}" %></li>
          <div class="about-links">
            <li><%= link_to 'About Gymsight', "http://gymsight.com/about#about_us", class:"about_us" %></li>
            <li><%= link_to 'Trainer Bio', "http://gymsight.com/about#trainer_bio", class:"trainer_bio" %></li>
            <li><%= link_to 'Gallery', "http://gymsight.com/about#gallery", class:"gallery" %></li>
          </div>
        </ul>
      </div>
      <div class="large-3 medium-3 columns hide-for-small-only">
        <ul>
          <li class="nav-heading"><%= link_to 'What We Offer', offerings_path, class:"#{@offerings_active}" %></li>
          <li><%= link_to 'Training Programs', offerings_path, class:"#{@program_active}" %></li>
          <li><%= link_to 'Frequently Asked Questions', faq_path, class:"#{@faq_active}" %></li>
        </ul>
      </div>
      <div class="large-3 medium-3 columns hide-for-small-only" id="last-footer-nav">
        <ul>
          <li class="nav-heading"><%= link_to 'Get Started', contact_path, class:"#{@gs_active}" %></li>
          <div class="contact-links">
            <li><%= link_to 'Request a Consultation', "http://gymsight.com/contact#consultation_request", class:"consultation_request" %></li>
            <li><%= link_to 'Ask a Question', "http://gymsight.com/contact#question", class:"question" %></li>
          </div>
        </ul>
      </div>
      <div class="show-for-small-only small-12 columns">
        <%= link_to image_tag("http://d1glu0vbbg0go6.cloudfront.net/site_wide/gymsight_logo_footer.png", alt: "Logo", class:"footer-logo"), root_path %>
      </div>
    </div>
  </div>
  <div class="row show-for-small-only">
    <div class=" small-12 columns">
      <div class="social-container">
          <%= link_to '', 'javascript:void(0)', class: 'facebook social-link' %>
          <%= link_to '', 'javascript:void(0)', class: 'twitter social-link' %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12">
      <div class="credits">&copy; Gymsight Training 2014 / Site by Shaun Johnson & Andre Bautista</div>
    </div>
  </div>
</footer>
