<header>
  <%= image_tag "Homepage/homepage_header.jpg", alt:"picture behind logo", class:"stretch-image #{'hidden' unless current_page?(root_path)} #{'hide-for-small-only' if current_page?(root_path)}" %>
  <%= link_to image_tag("site_wide/Logo_Top.png", alt: "Logo"), root_path, class:"#{'absolute' if current_page?(root_path)}" %>
  <div class="row <%= 'hidden' if current_page?(root_path)%>">
    <div class="centeredmenu">
    <ul>
      <li><%= link_to 'who we are', about_path, class:"#{'active' if current_page?(about_path)}"  %></li>
      <li><%= link_to 'what we offer', offerings_path, class:"#{'active' if current_page?(offerings_path)} #{@offerings_active}"%></li>
      <li><%= link_to 'get started', contact_path, class:"#{'active' if current_page?(contact_path)}"%></li>
    </ul>
  </div>
</header>
